.userData {
  display: flex;
  align-items: center;
  &__avatar {
    width: 35px;
    margin: 0 15px 0 0;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  &__logout {
    color: #ffab91;
    cursor: pointer;
    &:hover {
      color: #f44336;
    }
  }
}
