.navbar-nav {
  align-items: center;
}

.nav-link {
  font-size: 16px;
  font-weight: bold;
  color: #616161 !important;
}

.nav-link_active {
  background: #42a5f5 !important;
  border-radius: 3px;
  color: #fff !important;
}
