#root {
  height: 100%; }

p,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

.app {
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column; }

.header,
.footer {
  flex: 0 0 auto; }

.main {
  flex: 1 1 auto; }

.table > tbody > tr > td {
  vertical-align: middle; }

.fa-file-excel {
  color: green;
  font-size: 20px;
  margin: 0 15px 0 0; }

.fileList {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  max-height: 600px;
  overflow-y: scroll; }

.fileList__item {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 3px 10px; }

.fileList__item:hover {
  background: #e0e0e0; }

.fileList__text {
  cursor: pointer; }

.fileList__text:hover {
  color: #2196f3; }

.fileList__id {
  color: #bdbdbd;
  font-size: 12px; }

.fileList__search {
  margin: 10px 0 20px 0;
  padding: 2px 15px;
  outline: none; }

.sheetList {
  display: flex;
  flex-wrap: wrap; }

.sheetList__title {
  color: #616161;
  margin: 25px 0 0px 0; }

.sheetList__wrap {
  padding: 15px 5px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
  cursor: pointer; }

.sheetList__wrap:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8); }

.sheetList__wrap:hover .sheetList__icon {
  color: #009688; }

.sheetList__item {
  padding: 15px 5px;
  box-sizing: border-box;
  flex: 0 0 25%;
  text-align: center;
  color: #37474f;
  overflow: hidden; }

.sheetList__icon {
  font-size: 30px;
  color: #455a64;
  margin: 0 0 15px 0; }

.section {
  margin: 5px 0 30px 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  padding: 10px 25px 25px 25px;
  box-sizing: border-box; }

.centered {
  text-align: center; }

.nav-link {
  font-size: 16px;
  font-weight: bold;
  color: #616161 !important; }

.nav-link_active {
  background: #42a5f5 !important;
  border-radius: 3px;
  color: #fff !important; }

.overlay {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1000; }

.overlay__inner {
  margin: auto; }

.body {
  margin: 5px 0;
  border: 1px solid #333;
  padding: 15px;
  border-radius: 10px; }

.body:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1); }

.spinner {
  width: 100%;
  text-align: center; }

.homepage {
  position: relative;
  background: radial-gradient(circle rgba(113, 152, 169, 0.8) 0%, #fff 60%); }

.homepage__bg {
  max-width: 70%;
  background-size: cover;
  margin: auto;
  display: block;
  opacity: 0.2; }

.homepage__textblock {
  position: absolute;
  width: 100%;
  top: 40%; }

.homepage__title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center; }

.homepage__subtitle {
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.login {
  color: #00838f;
  border: none;
  background: transparent;
  cursor: pointer; }

.login:hover {
  color: #2196f3; }

.login__avatar {
  width: 35px;
  margin: 0 15px 0 0;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }

.logout {
  color: #ffab91;
  cursor: pointer; }

.logout:hover {
  color: #f44336; }

.labels__title {
  cursor: pointer; }

.labels__table {
  width: 100%; }

.labels__icon {
  color: #43a047; }

.labels__toggleAction {
  cursor: pointer; }

.labels__toggleAction:hover {
  background: #e0e0e0; }

.labels__item {
  border: 1px solid #333;
  display: inline-block;
  margin: 3px;
  font-size: 11px;
  padding: 3px 12px;
  border-radius: 20px;
  cursor: pointer; }

.labels__item:hover {
  background: #17a2b8;
  color: #fff;
  transition: all 0.4s; }

.labels__number {
  border-radius: 30px;
  padding: 3px 15px;
  display: inline-block;
  font-size: 12px;
  border: 1px solid #333; }

.labels__toBlackList:hover {
  transform: scale(1.2);
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.8); }

.success {
  position: fixed;
  width: 100%;
  margin: 70px 0 0 0;
  text-align: center; }

.success__item {
  background: #388e3c;
  display: inline-block;
  padding: 5px 25px;
  border-radius: 15px;
  font-size: 25px;
  color: #fff;
  line-height: 30px; }

.success__close {
  margin: 0 0 0 15px;
  cursor: pointer; }

.errors {
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 1001;
  margin: 70px 0 0 0;
  display: flex;
  flex-direction: column; }

.errors__item {
  background: #ff5722;
  display: block;
  width: 400px;
  margin: 10px auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: #fff;
  padding: 3px 30px 3px 10px;
  box-sizing: border-box;
  text-align: left;
  font-weight: bold;
  position: relative; }

.errors__close {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: calc(50% - 10px);
  opacity: 0.6;
  line-height: 20px; }

.errors__close:hover {
  opacity: 1; }

.info {
  position: fixed;
  z-index: 1001;
  right: 0px;
  bottom: 50px;
  width: 300px; }

.info__item {
  position: relative;
  right: -100%;
  width: 100%;
  background: #2196f3;
  padding: 3px 10px;
  box-sizing: border-box;
  color: #fff;
  border-radius: 10px 0 0 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  margin: 5px 0;
  transition: all 0.6s ease; }

.info__item_active {
  transition: all 0.6s ease;
  right: 0; }

.settings__title {
  padding: 5px 0; }

.db {
  display: flex;
  margin: 30px 0;
  justify-content: flex-end; }

.db__wrapper {
  display: flex; }

.db__text {
  font-size: 12px; }

.db__text_active {
  color: #4b91ec; }

.db__switcher {
  margin: 0 10px;
  background: #ee867e;
  border: 2px solid #999;
  border-radius: 40px;
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
  overflow: hidden; }

.db__point {
  transition: all 0.3s;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0px;
  border-radius: 50%;
  position: absolute;
  background: #999; }

.db__point::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #d93025;
  border-radius: 50%; }

.db__point::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 16px;
  top: 0;
  left: -20px;
  background: #94bdf1; }

.db__point_active {
  left: 20px; }

.db__point_active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #4b91ec;
  border-radius: 50%; }

.statistic__pieItem {
  margin: 20px 0; }

.statistic__title {
  font-size: 12px; }

.list-group-item {
  display: flex;
  justify-content: space-between;
  padding: 0;
  cursor: pointer; }

.list-group-item:hover {
  background: #4b91ec;
  color: #fff; }

.list-group-item:hover .list-group-item__num {
  color: #272727;
  font-weight: bold; }

.list-group-item__camp {
  word-wrap: break-word;
  word-break: break-all;
  padding: 7px 10px;
  font-size: 12px;
  width: calc(100% - 50px); }

.list-group-item__num {
  display: flex;
  background: #ececec;
  text-align: center;
  width: 50px; }

.list-group-item__vertical {
  margin: auto; }

.account__td {
  align-items: center; }

.account__img {
  border-radius: 50%;
  width: 40px; }

.account__uploadBtn {
  color: transparent;
  position: relative;
  border: 1px solid gray; }

.account__uploadBtn:hover {
  color: transparent !important; }

.account__uploadBtn:before {
  position: absolute;
  content: "Upload";
  color: #272727;
  height: 100%;
  width: 100%;
  line-height: 35px;
  left: 0;
  top: 0;
  z-index: 11; }

.account__uploadBtn_progress {
  position: absolute;
  content: "";
  background: #ffc107;
  height: 100%;
  transition: 0.3s;
  left: 0;
  top: 0;
  z-index: 10; }
