#root {
  height: 100%;
}

p,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  flex: 1 1 auto;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.fa-file-excel {
  color: green;
  font-size: 20px;
  margin: 0 15px 0 0;
}

.fileList {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  max-height: 600px;
  overflow-y: scroll;
  &__item {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 3px 10px;
    &:hover {
      background: #e0e0e0;
    }
  }
  &__text {
    cursor: pointer;
    &:hover {
      color: #2196f3;
    }
  }
  &__id {
    color: #bdbdbd;
    font-size: 12px;
  }
  &__search {
    margin: 10px 0 20px 0;
    padding: 2px 15px;
    outline: none;
  }
}

.sheetList {
  display: flex;
  flex-wrap: wrap;
  &__title {
    color: #616161;
    margin: 25px 0 0px 0;
  }
  &__wrap {
    padding: 15px 5px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
      .sheetList__icon {
        color: #009688;
      }
    }
  }
  &__item {
    padding: 15px 5px;
    box-sizing: border-box;
    flex: 0 0 25%;
    text-align: center;
    color: #37474f;
    overflow: hidden;
  }
  &__icon {
    font-size: 30px;
    color: #455a64;
    margin: 0 0 15px 0;
  }
}

.section {
  margin: 5px 0 30px 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  padding: 10px 25px 25px 25px;
  box-sizing: border-box;
}

.centered {
  text-align: center;
}

.nav-link {
  font-size: 16px;
  font-weight: bold;
  color: #616161 !important;
  &_active {
    background: #42a5f5 !important;
    border-radius: 3px;
    color: #fff !important;
  }
}

.overlay {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1000;
  &__inner {
    margin: auto;
  }
}

.body {
  margin: 5px 0;
  border: 1px solid #333;
  padding: 15px;
  border-radius: 10px;
  &:nth-child(2n) {
    background: rgba(0, 0, 0, 0.1);
  }
}
.spinner {
  width: 100%;
  text-align: center;
}

// HOME PAGE
.homepage {
  position: relative;
  background: radial-gradient(circle rgba(113, 152, 169, 0.8) 0%, #fff 60%);
  &__bg {
    max-width: 70%;
    background-size: cover;
    margin: auto;
    display: block;
    opacity: 0.2;
  }
  &__textblock {
    position: absolute;
    width: 100%;
    top: 40%;
  }
  &__title {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  &__subtitle {
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}

// LOGIN
.login {
  color: #00838f;
  border: none;
  background: transparent;
  cursor: pointer;
  &:hover {
    color: #2196f3;
  }
  &__avatar {
    width: 35px;
    margin: 0 15px 0 0;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
}
.logout {
  color: #ffab91;
  cursor: pointer;
  &:hover {
    color: #f44336;
  }
}

// Labels
.labels {
  &__title {
    cursor: pointer;
  }
  &__table {
    width: 100%;
  }
  &__icon {
    color: #43a047;
  }
  &__toggleAction {
    cursor: pointer;
    &:hover {
      background: #e0e0e0;
    }
  }

  &__item {
    border: 1px solid #333;
    display: inline-block;
    margin: 3px;
    font-size: 11px;
    padding: 3px 12px;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      background: #17a2b8;
      color: #fff;
      transition: all 0.4s;
    }
  }
  &__number {
    border-radius: 30px;
    padding: 3px 15px;
    display: inline-block;
    font-size: 12px;
    border: 1px solid #333;
  }
  &__toBlackList {
    &:hover {
      transform: scale(1.2);
      text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    }
  }
}

// Messages
.success {
  position: fixed;
  width: 100%;
  margin: 70px 0 0 0;
  text-align: center;
  &__item {
    background: #388e3c;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 15px;
    font-size: 25px;
    color: #fff;
    line-height: 30px;
  }
  &__close {
    margin: 0 0 0 15px;
    cursor: pointer;
  }
}

.errors {
  position: fixed;
  width: 100%;
  text-align: center;
  margin: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  &__item {
    background: #ff5722;
    display: block;
    width: 400px;
    margin: 10px auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #fff;
    padding: 3px 30px 3px 10px;
    box-sizing: border-box;
    text-align: left;
    font-weight: bold;
    position: relative;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: calc(50% - 10px);
    opacity: 0.6;
    line-height: 20px;
    &:hover {
      opacity: 1;
    }
  }
}

.info {
  position: fixed;
  z-index: 1001;
  right: 0px;
  bottom: 50px;
  width: 250px;
  &__item {
    position: relative;
    right: -100%;
    width: 100%;
    background: #2196f3;
    padding: 3px 10px;
    box-sizing: border-box;
    color: #fff;
    border-radius: 10px 0 0 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    margin: 5px 0;
    transition: all 0.6s;
    &_active {
      transition: all 0.6s;
      right: 0;
    }
  }
}

// settings
.settings {
  &__title {
    padding: 5px 0;
  }
}

// db switcher
.db {
  display: flex;
  margin: 30px 0;
  justify-content: flex-end;
  &__wrapper {
    display: flex;
  }
  &__text {
    font-size: 12px;
    &_active {
      color: #4b91ec;
    }
  }
  &__switcher {
    margin: 0 10px;
    background: #ee867e;
    border: 2px solid #999;
    border-radius: 40px;
    position: relative;
    width: 40px;
    height: 20px;
    cursor: pointer;
    overflow: hidden;
  }
  &__point {
    transition: all 0.3s;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0px;
    border-radius: 50%;
    position: absolute;
    background: #999;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #d93025;
      border-radius: 50%;
    }
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 16px;
      top: 0;
      left: -20px;
      background: #94bdf1;
    }
    &_active {
      left: 20px;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #4b91ec;
        border-radius: 50%;
      }
    }
  }
}

// statistic
.statistic {
  &__pieItem {
    margin: 20px 0;
  }
  &__title {
    font-size: 12px;
  }
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  padding: 0;
  cursor: pointer;
  &:hover {
    background: #4b91ec;
    color: #fff;
    .list-group-item__num {
      color: #272727;
      font-weight: bold;
    }
  }
  &__camp {
    word-wrap: break-word;
    word-break: break-all;
    padding: 7px 10px;
    font-size: 12px;
    width: calc(100% - 50px);
  }
  &__num {
    display: flex;
    background: #ececec;
    text-align: center;
    width: 50px;
  }
  &__vertical {
    margin: auto;
  }
}

.account {
  &__td {
    align-items: center;
  }
  &__img {
    border-radius: 50%;
    width: 40px;
  }
}
