MONGO_DB=mongodb://<user>:<password>@ds129321.mlab.com:29321/collection
SECRET_OR_KEY=<string>
CLIENT_ID=<string>
CLIENT_SECRET=<string>
REDIRECT_URI=<url>
SCOPE=<array>
USER_CLIENT_ID=<string>
USER_CLIENT_SECRET=<string>
USER_REDIRECT_URI=<url>
USER_SCOPE=<array>